@use './color' as *;

@mixin flex($flex-direction: row, $justify-content: center, $align-items: center) {
    display: flex;

    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin border() {
    border: solid 3px $dark-grey;
    border-radius: 11px;
}