@use '../../abstracts/' as *;

.buttonsContainer {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    margin:15px;
    padding: 0;

    button:last-of-type {
        grid-column: span 2;
    
        width: 150px;
    }

    button {
        @include border();
        width: 64px;
        height: 64px;
    
        text-align: center;
        cursor: pointer;
    
        background-color: $light-beige;
    
        box-shadow: 4px 4px 0 0 $dark-grey;
    }
    button {
        font-size: 24px;
    
        color: $dark-grey;
    
        transition: 0.2s;
    
        -webkit-tap-highlight-color: transparent;
    
        transition: 0.2s;
    }
    button:active {
        box-shadow: 0 0 0 0 $dark-grey;
    
        transition: 0.2s
    }
}


